doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Brown Bags
 
    meta(name="description" content="A framework for easily creating brown bag slides")
    meta(name="author" content="bchen")
 
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
 
    meta(name="viewport" content="width=device-width,"
                                +"initial-scale=1.0,"
                                +"maximum-scale=1.0,"
                                +"user-scalable=no")
 
    link(rel="stylesheet" href="slides.css")
 
  body
    .reveal
      //- Any section element inside of this container is displayed as a slide
      .slides
        section
            h1 Impression of DDD
            img(src="img/impl-ddd-cover.jpg", height="50%", width="50%")
        // Clarify what DDD is about
        section
            section
                h1 Domain
                blockquote A Domain, in the broad sense, is what an organization
                  does and the world it does it in.
            section(data-markdown)
                h2 Domain can refer to  
                ul
                  li the entire domain of the business, 
                  li as well as just one core or supporting area of it
            section
                h2 Should we 
                p  create a single, cohesive, all-inclusive models
                   of an organization's entire business domain?
            section
                h2 DDD places the emphasis on just the opposite 
            section
                h2 In fact
                blockquote Any attempt to define the business of even a 
                  moderately complex organization in a single, 
                  all-encompassing model will be at best extremely difficult 
                  and will usually fail.
        section
            // Ubiquitious Language for domains composition
            section
                h2 Example of an Inventory System
                ul
                  li An Inventory System is about managing goods (items).
                  li Yet, there's no guarantee that it has a completely clean model, 
                     possessing wholly unambiguous domain linguistics.
            section
                h2 an Item
                ul
                  li on order that is yet available for sale Back-Ordered Item
                  li being received - Goods received
                  li in stock - Stock Item
            section
                h2 an Item (cont.)
                ul
                  li being consumed - Item Leaving Inventory
                  li and, an Inventoried Item that becomes broken - Wasted Inventory Item
            section
                h1 Ubiquitious Language
                ul
                  li Ubiquitious means "found everywhere"
                  li The use of the word is not an attempt to describe some kind 
                     of enterprise-wide, company-wide, or universal domain language 
                  li There is one Ubiquitious Language per Bounded Context

         section
            section
                h2 Another example in publishing organization
                ul
                  li Conceptualizing and proposing a book
                  li Contracting with authors
                  li Managing the book's authorship and editorial process
            section
                h2 Example in publishing organization (cont.)
                ul
                  li Designing the book layout, including illustrations
                  li Translating the book into other languages
                  li Producing the physical print and/or electronic editions
            section
                h2 Example in publishing organization (cont.)
                ul
                  li Marketing the book
                  li Selling the book to resellers and/or directly to consumers
                  li Shipping a physical book to resellers and consumers
            section
                h2 Using DDD, models are developed in Bounded Contexts

         section
             section
                 h1 Bounded Contexts
                 blockquote A Bounded Context is an explicit boundary within which a 
                   domain model exists. Inside the boundary all terms and phrases of 
                   the Ubiquitious Language have specific meaning, and the model reflects 
                   the Language with exactness.
             section
                 h2 Bounded Contexts -> Context Map
                 ul
                   li On a single project that develops a single Bounded Context, 
                      there are always one or more additional isolated Bounded Context
                      with which it integrates using Context Map.
                   li Each of the multiple Bounded Contexts that integrate has its own 
                      Ubiquitious Language, even though some terms of each may overlap.
             section
                 h2 Blended core concepts with generic ones
                 img(src="img/blended-core-concepts-with-generic-ones.jpg")
             section
                 h2 The whole Domain of the organization is composed of Subdomains
                 img(src="img/separate-boundex-contexts.jpg")

         section
             section
                 h1 Context Maps
                 p To draw a simple diagram that shows the mappings between two or more  
                   existing Bounded Contexts. 
                 p The drawing illustrates what already exists, and how the Bounded Contexts 
                   are integrated.
             section
                 h2 Tangle within a single context
                 img(src="img/tagle-within-collaboration-context.jpg")
             section
                 h2 Discover new contexts
                 img(src="img/discovery-of-contexts.jpg")
             section
                 h2 Integrate the contexts
                 img(src="img/integration-of-contexts.jpg")

         section
             section
                h1 Core domain
                ul
                  li A Core Domain is a part of the business Domain that is of primary 
                     importance.
                  li The Core Domain requires excellence in implementation.
             section
                 h1 Supporting & Generic domains
                 ul
                   li Sometimes a Bounded Context is created or acquired to support the business
                   li If it models some aspect of the business that is essential,
                      yet not Core, it's a Supporting Subdomain
                   li Otherwise, if it captures nothing special to the business, yet is required 
                      for the overall solution, it is a Generic Subdomain.
         section
             div THANKS
    script(src="slides.js")
